__pycache__/
.idea/
.venv/
*.egg-info/
/experiments/railways/flexsipp_railways/experiment_generation/donna_parsing/log.txt
/data/prorail/*
/data/railways/prorail/*
/data/friso
/data/**/generated-old/
**/output/
*.zip
*.txt
!/data/**/*_paths*.txt
**/timing/
